@font-face {
    font-family: "Steelfish";
    src: url("fonts/SteelfishLt-Regular.woff") format('woff'),
         url("fonts/SteelfishRg-Bold.woff") format('woff');
}        

* {
    box-sizing: border-box;
}

html ::selection{
    color: var(--main);
    background-color: var(--second-main);
}

html, body{
    min-width: 100%;
    overflow-x: hidden;
}

a:visited {
    color:  white;
}

ul {
    list-style-type: none;
}

h1 h2 h3 h4 h5 h6 {
    font-family: 'Steelfish', sans-serif;
}

:root {
    font-size: 62.5%;
    --second-main: #F49C89;
    --main-text: #ECEEF8;
    --main: #34344E;
    --sub-text: #FFF;
    --line-color: rgba(52, 52, 78, 0.50);
}  


body{
    color: var(--main-text);
    background-color: var(--main);
}

header{
    font-size: 1.5rem;
}

.main-header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
    padding: 17px 20px 16px;
    background-color: var(--main);
}

.second-main-part ::selection{
    color: var(--second-main);
    background-color: var(--main);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.main-header__link{
    color: var(--sub-text);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}
.main-header__sp{
    color: var(--sub-text);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}
.main-header__loc{
    color: var(--sub-text);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.main-header__span{
    padding-left: 10px;
}

.main-header__link--laba{
    color: var(--second-main);
}

.link__adr{
    display: none;
}

.main-header__list{
    gap: 20px;
    display: flex;
    margin-top: 10px;
    
}

.main-header__burger{
    display: none;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.hidden_h1{
    display: none;
}

.section_1{
    padding: 82px 0 145px;
    background-color:  var(--main); 
    background: url('../imgs/Vector\ 7.svg') 0 0 no-repeat;
}

.section_1__main-p  {
    font-size: 8rem;
    font-family: 'Steelfish', sans-serif;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
}

.sect_1-img_1{
    border-radius: 200px;
    object-fit: cover;
    width: 200px;
}

.sect_1-img_2{
    border-radius: 200px;
    object-fit: cover;
    width: 125px;
}


.section_1__main-p span{
    margin-left: 28px;
}

.section_1__sub-p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
}

.main-header__image-span{
    position: relative;
    
}

.main-header__image-span ::before{
    background-size: 100px 100px;
    display: block;
    position: absolute;
    background-image: url('../imgs/Rectangle\ 75.jpg');
    width: 100px;
    height: 100px;
}

.section_1__block{
    text-align: center
}
.section_1__button{
    width: 270px;
    padding: 13px 30px;
    color: var(--sub-text);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Inter';
    background-color: var(--second-main);
    border-radius: 100px;
    line-height: 100%;
}

.section_1__button:hover{
    transition: 0.3s;
    color: var(--second-main );
    background-color: var(--main);
    border: 2px solid var(--second-main);
    padding: 11px 28px;
}

.section__bottom{
    margin: 20px 0;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.section_2{    
    background: url('../imgs/Vector\ 1.svg') 0 0 no-repeat; 
}

.section_2 h2{
    font-size: 5rem;
    font-style: normal;
    text-align: center;
    font-family: 'Steelfish', sans-serif;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
    position: relative;
    font-weight: bold;
}

.section_2__span-1{
    margin-left: 57px;
    padding: 0;
}

.section_2__span-3{
    margin-left: 57px;
}

.section_2__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.list__item{
    min-width: 33%;
    background-color:var(--main-text);
    color: var(--main);
    max-width: 320px;
    border-radius: 10px;
}

.list__item img{
    height: 336px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.item__main{
    padding: 18px 20px 20px;
    font-weight: normal;
}

.item__main h3{
    font-family: 'Steelfish';
    font-size: 5rem;
    font-weight: 500;
    line-height: 110%; /* 33px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.item__cost{
    transform: rotate(-5deg);
    padding: 5px 5px;
    border-radius: 100px;
    background: var(--second-main, #F49C89);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    color: var(--main-text);
    max-width: 101px;
    margin-top: 12px;
    margin-bottom: 10px;
    letter-spacing: 4%;
}

.item__main p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.item__bottom{
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.24px;
    line-height: 140%;
}

.item__bottom a {
    color: var(--second-main);
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    line-height: 140%; /* 16.8px */
    letter-spacing: -0.48px;
}

.item__bottom a:hover{
    transition: 0.3s;
    color: var(--main);
} 
.section_3{
    font-family: "Steelfish", sans-serif; 
    margin-top: 85px;
    margin-bottom: 57px;
}

.section_3 h2{
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 44px */
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 1px;
}


.section_3__span-2{
    margin-left: 10px;
}

.section_3__list{
    display: flex;
    gap: 20px;
}

.section_3__list .list__item {
    width: 261px;
    height: 457px; 
}

.section_3__list li img{
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.section_4{
    padding-top: 28px;
    background: url('../imgs/Vector\ 9.svg') 0 0 no-repeat;
    padding-bottom: 47px;
}

.section_4 h2{
    font-family: 'Steelfish', sans-serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
}

.section_4__main-p{
    margin-top: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;
}

.main-form{
    background-color: var(--main-text);
    color: var(--main);
    border-radius: 10px;
}

.form__main-image{
    max-width: 100%;
    max-height: 1228px;
    border-radius: 10px;
    object-fit: cover;

}

.main-form{
    padding: 18px 20px 20px;
    font-family: 'Inter', sans-serif;
}

.main-form__fieldset{
    border: none;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
}

.form form legend{
    padding-top: 18px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
}

.form__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form__list li input[type=radio]{
    display: none;
}

.form__list li label{
    text-transform: uppercase;
    margin-bottom: 19px;
    position: relative;
    user-select: none;
    display: inline-block;

}


.form__list li label:before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    top: -4px;
    left: -34px;
    background: url('../imgs/radio-btns (2).svg') 0 0 no-repeat;
}

.form__list li input[type=radio]:checked + label:before{
    background: url('../imgs/radio-btns (1).svg') 0 0 no-repeat;
}

.form__list li{
    margin-left: 34px
}

.form form .last-list fieldset{
    border: none;
}

.last-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr)

}

.last-list-cost{
    margin-top: 18px;
}

.last-list-cost span {
    font-family: 'Steelfish';
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 110%; /* 33px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.last-list-cost p {
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    letter-spacing: -0.24px;
    text-transform: uppercase;
    color: rgba(52, 52, 78, 0.50);
}

.main-form__link--btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: var(--second-main);
    padding: 13px 20px;
    color: white;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.84px;
    text-transform: uppercase;
}

.main-form__link--btn:hover{
    transition: 0.3s;
    background-color: var(--main);
    color: var(--second-main);
}


.section_5{
    padding-top: 38px;
    background: url('../imgs/Vector\ 10.svg') 0 0 no-repeat;
}

.section_5 summary {
    cursor: pointer;
    display: flex;
    padding: 10px;
    background-color: var(--main-text);
    color: var(--main);
    align-items: center;
    font-style: normal;
    font-weight: normal;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 3px solid var(--second-main);
    margin-bottom: 10px;
}
.details_active{
    min-width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
}

.section_5 summary img{
    border-radius: 10px;
    margin-right: 10px;
}


.section_5 h2 {
    font-family: 'Steelfish';
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section_5-p-start{
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 16.8px */
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.24px;
}

.section_6 h2{
    margin-top: 85px;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section_6 h2 span{
    margin-left: 57px;
}
.section_6 h2{
    font-family: 'Steelfish', sans-serif;
}

.section_6{
    background: url('../img/Union.svg') 0 0 no-repeat;
    padding-bottom: 90px;
}

.second-main-part{
    min-width: 100%;
    background-color: var(--second-main);
}

.section_7 {
    
    padding-top: 85px;
    padding-bottom: 85px;
    background: url('../img/Vector\ 13.svg') no-repeat;
    background-position: 18px 49px;
    background-color: var(--second-main);
    color: var(--main);
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
}

.section_7 h2{
    font-family: 'Steelfish', sans-serif;
    color: var(--sub-text);
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section_7 h2 span{
    color: var(--main);
    margin-left: 57px;
}

.section_7 ul {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}
.section_7 ul img{
    position: absolute;
    top: 10px;
}
.section_7 li {
    margin-bottom: 10px;
    position: relative;
    margin-left: 20px;
}

.section_7 p {
    margin-left: 22px;
}

.section_7__link-block{
    display: flex;
    position: relative;
}

.part-2__link {
    padding: 13px 30px;
    position: absolute;
    color: var(--sub-text);
    background-color: var(--main);
    text-decoration: none;
    border-radius: 100px;
    z-index: 999;
}

.part-2__link:hover{
    background-color: var(--sub-text);
    color: var(--main);
    transition: 0.3s;
}

.part-2__link:active{
    border: 4px solid var(--main);
}

.section_7-main-image{
    margin-top: 25px;
    border-radius: 10px;
    max-width: 100%;
    height: 388px;
    object-fit: cover;
}

.section_8{
    background: url('../imgs/Vector\ 14.svg') 0 0 no-repeat;
    background-color: var(--second-main);
}

.section_8 h2 {
    font-family: 'Steelfish', sans-serif;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section_8 ul {
    display: flex;
    overflow-x: hidden;
}

.section_8 iframe{
    margin-right: 10px;
    border-radius: 10px;
    min-width: 261px;
    border: none;
}

.section_9 {
    background: url('../imgs/Vector\ 15.svg') 0 0 no-repeat;
    padding-bottom: 47px;
}

.section_9-top{
    padding-top: 85px;
}

.section_9-top h2{
    font-family: 'Steelfish', sans-serif;
    font-size: 5rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}

.section_9-top h2 span {
    margin-left: 57px;
    color: var(--main);
}

.section_9-top p {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
    color: var(--main);
    margin-bottom: 30px;
}


.wrapper{
    max-width: 1216px;
    padding: 0 20px;
    margin: 0 auto;
}

.section_9-top a {
    border-radius: 100px;
    background: var(--main);
    color: var(--sub-text);
    padding: 13px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}
.section_9-main{
    padding-top: 85px;
}

.section_9-main h2{
    font-family: 'Steelfish', sans-serif;
    color: var(--main-text);
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 44px */
    text-transform: uppercase;
    letter-spacing: 0.48px;
    margin-bottom: 30px;
}

.section_9-main ul {
    color: var(--main);
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
}
.section_9-main li{
    border-top: 1px solid rgba(52, 52, 78, 0.20);
    padding-top: 14px;
    margin-bottom: 18px
}

.section_9-main li h3{
    font-family: 'Steelfish', sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 33px */
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.section_9-main li p {  
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 16.8px */
    letter-spacing: 0.24px;
    text-transform: uppercase;
}


.section_10 {
    padding-top: 38px;
    background: url('../imgs/Vector\ 16.svg') 0 0 no-repeat;
    padding-bottom: 90px;
}

.section_10 h2 {
    font-family: 'Steelfish', sans-serif;
    color: var(--main-text);
    font-size: 5rem;
    font-weight: 700;
    line-height: 110%; /* 44px */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section_10 h2 span {
    margin-left: 57px;
    color: var(--main);
}

.contact-list{
    color: var(--main);
    margin-top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    border-top: 1px solid rgba(52, 52, 78, 0.20);
}

.contact-list__item{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 17px 0;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
}

.contact-list__item span{
    color: var(--line-color);
}

.contact-list__item a{
    color: var(--main);
    text-decoration: none;
}

.footer{
    padding-top: 87px;
    padding-bottom: 90px;
}

.footer-links{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.footer-links__link{
    text-decoration: none;
    color: var(--sub-text);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
    min-width: 95px;
}

.footer-links__item{
    display: flex;
    float: left;
    margin-bottom: 15px;
    gap: 15px;
}

.politics{
    max-width: 1250px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: center;
    align-items: start;
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.40);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
}
.politics-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.politics a {
    flex: end;
    text-decoration: none;
    color: var(--second-main);
}
.politics-grid{
    text-align: start;
    padding: 20px;
}
.footer-links__grid{
    max-width: 1216px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;

}
.footer-links__grid-item{ 
    text-align: start;
    
}
.footer-content{
    text-decoration: none;
    color: var(--sub-text);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
    min-width: 95px;
    
}

.footer-links-grid__grid{
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 10px; 
    text-align: end;
}
.footer-line{
    margin: 0 auto;
    width: 1250px;
    height: 1px;
    background-color: #FFFFFF33;
}
.footer-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1025px){
    :root{
        font-size: 45%;
    }
    .main-header__burger{
        display: block;
    }
    .main-header__link{
        display: none;
    }
    .main-header__sp{
        display: block;
    }
    header{
        font-size: 2rem;
    }
    footer{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 361px){
    :root{
        font-size: 23%;
    }
    .main-header__loc{
        display: none;
    }
    .main-header__burger{
        max-width: 30px;
        max-height: 30px;
    }
    .main-header__burger img{
        max-width: 30px;
        max-height: 30px;
    }
    .logo-logo img{
        max-width: 50px;
        max-height: 30px;
    }
    .main-header__sp img{
        max-width: 17px;
    }
    .sect_1-img_1{
        width: 80px;
    }
    .sect_1-img_2{
        width: 80px;
    }
    

}